///////////////
// Variables //
///////////////

// Colors
@white:         #fafafa;
@black:         #444;
@red:           #ed4253;
@grey:          #434a54;

// Containers
@container-height: 480px;

// Logos
@logo-watermark-base-size: 200px;