////////////////
// Footer Bar //
////////////////

@import "./footer-progress-indicator.less";

.footer-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: @footer-bar-height;
  background: @grey;
  transform: translateY(0);
  transition: transform 0.5s ease-out;
  color: @white;
  z-index: 100;

  &.hide {
    display: block!important;
    transform: translateY( @footer-bar-height + 1 );
  }

  .progress-indicator {
    float: left;
    height: 100%;
    text-shadow: 0 -1px 0 rgba( 0, 0, 0, 0.5 );
    padding-left: 12px;
    > .footer-progress-indicator {
      height: 100%;
      display: flex;
    }
  }

  .question-nav {
    display: flex;
    float: right;
    height: 100%;
    width: 210px;

    > button {
      .color( @bg, @color ){
        background: @bg;
        color: @color;
        &:active {
          background: fadeout( @bg, 10% );
          color: darken( @color, 10% );
        }

        &:hover {
          background: lighten( @bg, 5% );
        }
      }

      flex: 1;
      font-size: 32px;
      border: none;
      cursor: pointer;

      .color( rgba( 0, 0, 0, 0.1 ), #999 );

      &.next {
        .color( @yellow, #666 );
      }

      &.finish {
        .color( @green, rgba( 255, 255, 255, 0.85 ) );
      }

      &.hide {
        display: none;
      }
    }
  }
}